# Ignore everything:
*

# Do not ignore the meta files
!.gitignore
!LICENSE
!README.md

# Do not ignore the ittimport component
!components/
!components/*
!components/com_infusiongroup/
!components/com_infusiongroup/*
!components/com_infusiongroup/controllers/
!components/com_infusiongroup/controllers/*
!components/com_infusiongroup/views/
!components/com_infusiongroup/views/*
!components/com_infusiongroup/views/default/
!components/com_infusiongroup/views/default/*
!components/com_infusiongroup/views/default/tmpl/
!components/com_infusiongroup/views/default/tmpl/*
!administrator/
!administrator/*
!administrator/components/
!administrator/components/*
!administrator/components/com_infusiongroup/
!administrator/components/com_infusiongroup/*
!administrator/components/com_infusiongroup/controllers/
!administrator/components/com_infusiongroup/controllers/*
!administrator/components/com_infusiongroup/helpers/
!administrator/components/com_infusiongroup/helpers/*
!administrator/components/com_infusiongroup/helpers/isdk/
!administrator/components/com_infusiongroup/helpers/isdk/*
!administrator/components/com_infusiongroup/helpers/isdk/xmlrpc-2.0/
!administrator/components/com_infusiongroup/helpers/isdk/xmlrpc-2.0/*
!administrator/components/com_infusiongroup/helpers/isdk/xmlrpc-2.0/debugger/
!administrator/components/com_infusiongroup/helpers/isdk/xmlrpc-2.0/debugger/*
#!administrator/components/com_infusiongroup/helpers/isdk/xmlrpc-2.0/extras/
#!administrator/components/com_infusiongroup/helpers/isdk/xmlrpc-2.0/extras/*
!administrator/components/com_infusiongroup/helpers/isdk/xmlrpc-2.0/lib/
!administrator/components/com_infusiongroup/helpers/isdk/xmlrpc-2.0/lib/*
!administrator/components/com_infusiongroup/helpers/isdk/xmlrpc-2.0/lib/compat/
!administrator/components/com_infusiongroup/helpers/isdk/xmlrpc-2.0/lib/compat/*
!administrator/components/com_infusiongroup/language/
!administrator/components/com_infusiongroup/language/*
!administrator/components/com_infusiongroup/language/en-GB/
!administrator/components/com_infusiongroup/language/en-GB/*
!administrator/components/com_infusiongroup/models/
!administrator/components/com_infusiongroup/models/*
!administrator/components/com_infusiongroup/sql/
!administrator/components/com_infusiongroup/sql/*
!administrator/components/com_infusiongroup/sql/updates/
!administrator/components/com_infusiongroup/sql/updates/*
!administrator/components/com_infusiongroup/sql/updates/mysql/
!administrator/components/com_infusiongroup/sql/updates/mysql/*
!administrator/components/com_infusiongroup/views/
!administrator/components/com_infusiongroup/views/*
!administrator/components/com_infusiongroup/views/mapping/
!administrator/components/com_infusiongroup/views/mapping/*
!administrator/components/com_infusiongroup/views/mapping/tmpl/
!administrator/components/com_infusiongroup/views/mapping/tmpl/*
!administrator/components/com_infusiongroup/views/mappings/
!administrator/components/com_infusiongroup/views/mappings/*
!administrator/components/com_infusiongroup/views/mappings/tmpl/
!administrator/components/com_infusiongroup/views/mappings/tmpl/*

# Do not ignore the infusiongroup plugin
!plugins/
!plugins/*
!plugins/user/
!plugins/user/*
!plugins/user/infusiongroup/
!plugins/user/infusiongroup/*
!plugins/user/infusiongroup/profiles/
!plugins/user/infusiongroup/profiles/*

# Ignore miscellaneous index.html and index.php files
components/index.html
administrator/error_log
administrator/index.html
administrator/index.php
administrator/components/index.html
plugins/index.html
plugins/user/index.html